---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint?app_id=&app_key=&lat=51.5152117&lon=-0.1440493&modes=bus&radius=500&returnLines=True&stopTypes=NaptanPublicBusCoachTram,NaptanBusCoachStation&useStopPointHierarchy=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Entity-Payload:
      - StopPoint
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-Backend-Url:
      - "/StopPoint?lat=51.515&lon=-0.144&stopTypes=NaptanPublicBusCoachTram,NaptanBusCoachStation&radius=500&useStopPointHierarchy=True&returnLines=True&modes=bus"
      X-Banning:
      - ''
      X-Hash-Url:
      - "/stoppoint?lat=51.515&lon=-0.144&modes=bus&radius=500&returnlines=true&stoptypes=naptanpublicbuscoachtram,naptanbuscoachstation&usestoppointhierarchy=true"
      X-Ttl:
      - '86400.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.StopPointsResponse, Tfl.Api.Presentation.Entities","centrePoint":[51.515,-0.144],"stopPoints":[{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"490000173OQ","indicator":"Stop
        OQ","stopLetter":"OQ","modes":["bus"],"icsCode":"1015198","stopType":"NaptanPublicBusCoachTram","stationNaptan":"490000173OQ","lines":[{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"159","name":"159","uri":"/Line/159","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"23","name":"23","uri":"/Line/23","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"6","name":"6","uri":"/Line/6","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"7","name":"7","uri":"/Line/7","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"98","name":"98","uri":"/Line/98","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"n7","name":"N7","uri":"/Line/n7","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"n98","name":"N98","uri":"/Line/n98","type":"Line"}],"lineGroup":[{"$type":"Tfl.Api.Presentation.Entities.LineGroup,
        Tfl.Api.Presentation.Entities","naptanIdReference":"490000173OQ","stationAtcoCode":"490000173OQ","lineIdentifier":["159","23","6","7","98","n7","n98"]}],"lineModeGroups":[{"$type":"Tfl.Api.Presentation.Entities.LineModeGroup,
        Tfl.Api.Presentation.Entities","modeName":"bus","lineIdentifier":["159","23","6","7","98","n7","n98"]}],"status":true,"id":"490000173OQ","commonName":"Oxford
        Circus Station  / Harewood Place","distance":18.481034966430158,"placeType":"StopPoint","additionalProperties":[{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Direction","key":"CompassPoint","sourceSystemKey":"Naptan490","value":"W"},{"$type":"Tfl.Api.Presentation.Entities.AdditionalProperties,
        Tfl.Api.Presentation.Entities","category":"Direction","key":"Towards","sourceSystemKey":"CountDown","value":"Paddington"}],"children":[],"lat":51.514872,"lon":-0.14383},{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"490000173Z","indicator":"Stop OH","stopLetter":"OH","modes":["bus"],"icsCode":"1000173","stopType":"NaptanPublicBusCoachTram","stationNaptan":"490000173Z","lines":[{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"137","name":"137","uri":"/Line/137","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presenta[...]
[...]
