---
http_interactions:
- request:
    method: get
    uri: https://api.tfl.gov.uk/StopPoint?app_id=&app_key=&lat=51.5152117&lon=-0.1440493&modes=tube&radius=500&returnLines=True&stopTypes=NaptanMetroStation&useStopPointHierarchy=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Entity-Payload:
      - StopPoint
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - api
      X-Backend-Url:
      - "/StopPoint?lat=51.515&lon=-0.144&stopTypes=NaptanMetroStation&radius=500&useStopPointHierarchy=True&returnLines=True&modes=tube"
      X-Banning:
      - ''
      X-Hash-Url:
      - "/stoppoint?lat=51.515&lon=-0.144&modes=tube&radius=500&returnlines=true&stoptypes=naptanmetrostation&usestoppointhierarchy=true"
      X-Ttl:
      - '86400.000'
      X-Ttl-Rule:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"$type":"Tfl.Api.Presentation.Entities.StopPointsResponse, Tfl.Api.Presentation.Entities","centrePoint":[51.515,-0.144],"stopPoints":[{"$type":"Tfl.Api.Presentation.Entities.StopPoint,
        Tfl.Api.Presentation.Entities","naptanId":"940GZZLUOXC","modes":["tube","bus"],"icsCode":"1000173","stopType":"NaptanMetroStation","stationNaptan":"940GZZLUOXC","lines":[{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"12","name":"12","uri":"/Line/12","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"13","name":"13","uri":"/Line/13","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"137","name":"137","uri":"/Line/137","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,
        Tfl.Api.Presentation.Entities","id":"139","name":"139","uri":"/Line/139","type":"Line"},{"$type":"Tfl.Api.Presentation.Entities.Identifier,[...]
[...]
